:root {
    --section-padding: 2rem;
    --primary: #ffdc74;
    --secondary: rgb(182, 89, 89);
}

* {
    font-family: 'Poppins';
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}