---
import interior from '../images/restaurant_interior.jpg'
---

<section class="hero-section">
    <h1 class="hero-title">Goatchinanggo - Not your typical restaurant.</h1>
</section>

<style>
    .hero-section {
        min-height: 250px;
        max-height: 450px;
        object-fit: contain;
        background-position: left;
        background-image: url('../images/restaurant_interior.jpg');
        display: flex;
        align-items: center;
        padding: 0 2rem;
    }


    .hero-title {
        color: white;
        padding-right: 50%;
    }
    
</style>