---
import interior from '../images/restaurant_interior.jpg'
---

<section class="hero-section">
    <div class="hero-title-container">
        <h1 class="hero-title">Goatchinanggo. <br> Not your typical restaurant.</h1>
    </div>
    <div class="hero-image-container">
        <!-- <img class="hero-image" src={interior} alt="restaurant interior"> -->
    </div>
</section>

<style>
    .hero-section {
        min-height: 600px;
        padding: 2rem;
        display: inline-block;
    }

    .hero-title-container {
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
    }

    .hero-title {
        color: black;
        font-size: 2rem;
        text-align: center;
    }

    .hero-image-container {
        background-image: url('../images/restaurant_interior.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 350px;
    }

    .hero-image {
        width: 100%;
    }
    
    @media screen and (min-width: 600px) {
        .hero-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
        .hero-title-container {
            padding-bottom: 0;
        }
        .hero-image-container {
            height: auto;
        }
    }
    
</style>