---
import data from '../data/hours.json'
import Hours from './subcomponents/Hours.astro'
---

<section class="info-section">
    <div class="location">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3925.5118848862917!2d123.89076217468997!3d10.300856489820415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a999cc12301657%3A0x5747d2e064684e82!2sGoatchinanggo!5e0!3m2!1sen!2sus!4v1684314389704!5m2!1sen!2sus" width=100% height=450px style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="hours">
        <h2>BUSINESS HOURS</h2>
        <div class="hours-container">
            {data.map((open,i) => {
                return <Hours day={open.day} hours={open.hours}/>
            })}
        </div>
    </div>
</section>

<style>
    .info-section {
        background-color: var(--secondary);
    }
    .location {
        padding: var(--section-padding);
    }
    .hours {
        padding: var(--section-padding);
        color: white;
    }
    .hours h2 {
        padding-bottom: 1rem;
    }
    /* .hours-container::before {
        content: "___"
    } */
    .hours-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;

    }
    @media screen and (min-width: 900px) {
        .info-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .hours h2 {
            padding-bottom: 0;
            font-size: 2rem;
        }
        .hours-container {
            justify-content: flex-start;
            /* height: 90%; */
            padding-top: 1rem;
            gap: 1rem;
        }
    }
</style>