---
import alacarteData from "../data/alacarte.json"
import valuemealData from "../data/valuemeal.json"
---

<section class="menu-section">
    <div class="value-menu">

    </div>
    <div class="alacarte-menu">

    </div>
</section>

<style>
    .menu-section {
        
    }
    .value-menu,.alacarte-menu{
        display: flex;
        justify-content: space-between;
    }

</style>